<span class="anchor" id="{{ id }}">
  <span class="anchor--help-text hidden">
    {{
      include(
        '@umami_theme/components/icon/icon.twig',
        {
          icon: 'anchor'
        }
      )
    }}
    {{ id }}
  </span>
</span>
