#
# Exclude dev-only files from packaged (ready-to-download) exports of this site template.
#
/GET-STARTED.md           export-ignore
/.gitlab-ci.yml           export-ignore
/tests                    export-ignore

