{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a disclaimer block.
 *
 * Displays Umami Disclaimer and Copyright text.
 */
#}
{% block content %}
  <div data-component-id="umami:disclaimer" class="disclaimer">
    <div class="disclaimer__disclaimer">
      {{ content.field_disclaimer }}
    </div>
    <div class="disclaimer__copyright">
      {{ content.field_copyright }}
    </div>
  </div>
{% endblock %}
