{#
/**
 * @file
 * Render an array of ingredient strings.
 */
#}

{% if ingredients is iterable and ingredients|length %}
  <ul class="ingredients-list text-sm md:text-base">
    {% for ingredient in ingredients %}
      {% if ingredient is not empty %}
        <li class="mb-2">{{ ingredient }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
